// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$mainGreen: #4ecca3;
$lightGreen: #76d7b8;

$pink: #D3489A;
$palette: #A94499;
$indigo: #752776;
$purple: #8B4D9E;

$gray: #393e46;
$lightGray: #505762;
$darkGray: #22252a;

$white: #fff;

$blue: #004C98;
$lightblue: #0095cf;

$purple: #5533ff; // Thats a sample how you could change a BootStrap variable.

$primary: $indigo;  // Once we've changed the value, we'll also make it the primary brand color.
$secondary: $pink;

$item_spacing: 15px;
$block_spacing: 100px;
$border_radius: 6px;

$utilities: (
    "rounded": (
        property: border-radius,
        class: rounded,
        values: (
            null: 1rem,
            circle: 50%,
        )
    )
);