/** Bootstrap **/
.btn {
    padding: .4rem 1.5rem;
    font-weight: bolder;
    border-radius: $border_radius;
}

.btn-secondary {
    color: white;

    &:hover {
        color: white;
    }
}

.btn-outline-secondary {
    &:hover {
        color: white;
    }
}

/** End Bootstrap **/

/** Woocommerce **/

/** Product detail **/
.woocommerce span.onsale {
    background-color: $secondary;
    left: 0;
    top: $item_spacing;
    border-radius: $border_radius;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: .4rem 1.5rem;
}

.woocommerce-product-gallery {
    display: flex;
    flex-direction: column;
    gap: $item_spacing;

    .flex-viewport {
        border-radius: 6px;
    }

    .flex-control-nav {
        display: flex;
        gap: $item_spacing;

        li {
            img {
                border-radius: 6px;
            }
        }
    }

}

.btn-add-to-cart {
    display: flex;
    align-items: center;
    padding: 1rem 2.5rem;

    i {
        font-size: 1.5rem;
        margin-left: $item_spacing;
    }
}

.woocommerce div.product form.cart {
    display: flex;
    align-items: stretch;
    gap: $item_spacing;

    &::before {
        content: unset;
    }
}

.woocommerce .quantity .qty {
    height: 100%;
}

/** Product list/overview **/
.woocommerce ul.products li.product {

    .onsale {
        margin: 0;
        top: $item_spacing;
        border-top-left-radius: $border_radius;
        border-bottom-left-radius: $border_radius;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .price {
        color: $secondary;
    }

    a img {
        border-radius: $border_radius;
    }

    .add-to-cart-container {
        .add_to_cart_button {
            width: 100%;
        }
    }
}


/** End Woocommerce **/


/** header */

.announcement-bar {
    font-size: .8rem;
    border-bottom: 1px solid var(--bs-gray);

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: inline-flex;
        margin: 0 -10px;

        li {
            margin: 0 10px;
            display: flex;
            align-items: center;

            .bi {
                background-color: $secondary;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                margin-right: 6px;
                color: white;
            }
        }
    }
}

.site-header {
    position: sticky;
    background-color: white;
    z-index: 10;
    top: 0;

    &__logo {
        img {
            max-height: 7rem;
            width: auto;
        }
    }

    .aws-search-field {
        @extend .p-4;
        font-size: .9rem;
        border-radius: 20px!important;
    }
}

/* Main menu */
.navbar {
    @extend .p-md-0;

    .main-navigation {
        font-weight: 600;
    
        .current-menu-item {
            background-color: $secondary;
        }
    
        a.nav-link {
            color: $white;
            padding: .6rem 1.4rem;
        }
    }
}

/** Front page */

/** Slider **/
.carousel {
    .carousel-control-prev, .carousel-control-next {
        width: 9%;
    }
}

/** Footer **/
footer {
    ul {
        @extend .m-0;
        @extend .p-0;
        @extend .list-unstyled;

        li {
            @extend .nav-item;
            @extend .mb-2;
    
            a {
                @extend .text-decoration-none;
                @extend .text-muted;
            }
        }
    }
}